
   
.TodoItem {
    
    background-color: beige;
    position: relative;
    border: 1px solid;
    color: black;
    margin: 10px;
    border-radius: 10px;
    list-style-type:none
}


.TodoItem-p{

    text-align: center;
}   

.Icon-check {
    position: absolute;
    left: 15px;
    bottom: 5px;
    color: green;
    font-weight: bolder;
    font-size: xx-large;

}
.Icon-delete{
    position: absolute;
    right: -4px;
    top: -7px;
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
    background: red;
}