.button{
    position: absolute;
    border: transparent;
    right: 20px;
    bottom: 10px;
    border-radius: 80%;
    align-items: center;
    font-size: x-large;
    background-color: lightgreen;
    
}

.button:hover{
    zoom: 150%;
}