body{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  border: 1px solid black;
    padding: 10px 20px 0;
    height: 98vh;
    border-radius: 5px;
    position: relative;
    background-color: azure;
}